.clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

.transition {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.left {
  float: left;
}